Repository modal-labs/libmodal: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-format, js-lint, js-typecheck, go-format, go-lint, python-lint, python-format

js-format:
  name: Format (JS)
  entry: bash -c 'cd modal-js && npx prettier --write $(for f; do echo "${f#modal-js/}"; done)' --
  language: system

js-lint:
  name: Lint (JS)
  entry: bash -c 'cd modal-js && npx eslint $(for f; do echo "${f#modal-js/}"; done)' --
  language: system

js-typecheck:
  name: Typecheck (JS)
  entry: bash -c 'cd modal-js && npm run check'
  language: system
  pass_filenames: false

go-format:
  name: Format (Go)
  entry: bash -c 'cd modal-go && golangci-lint fmt $(for f; do echo "${f#modal-go/}"; done)' --
  language: system

go-lint:
  name: Lint (Go)
  entry: bash -c 'cd modal-go && golangci-lint run'
  language: system
  pass_filenames: false

python-lint:
  name: Lint (Python)
  entry: ruff check
  language: system

python-format:
  name: Format (Python)
  entry: ruff format
  language: system

setTimeout fix
  modal-js/src/sandbox.ts
Due: js-format, js-lint, js-typecheck

Refresh auth just-in-time instead of in the background
  modal-go/auth_token_manager.go
  modal-go/client.go
  modal-go/internal/grpcmock/mock.go
  modal-go/test/auth_token_manager_test.go
  modal-js/src/auth_token_manager.ts
  modal-js/src/client.ts
  modal-js/test/auth_token_manager.test.ts
  modal-js/test/legacy/auth_token_manager.test.ts
Due: js-format, js-lint, js-typecheck, go-format, go-lint

Fix JS proactive token refresh propagating errors when token is still valid
  modal-js/src/auth_token_manager.ts
  modal-js/test/auth_token_manager.test.ts
  modal-js/test/legacy/auth_token_manager.test.ts
Due: js-format, js-lint, js-typecheck

Fix flaky ExecOutputTimeout test expecting exit code 0 instead of 137
  modal-go/test/sandbox_test.go
  modal-js/test/sandbox.test.ts
Due: js-format, js-lint, js-typecheck, go-format, go-lint

Add polling to getTaskId in Go and JS (#286)
  CHANGELOG.md
  modal-go/sandbox.go
  modal-go/test/sandbox_test.go
  modal-js/src/sandbox.ts
  modal-js/test/sandbox.test.ts
Due: js-format, js-lint, js-typecheck, go-format, go-lint

Fix error message when Sandbox already completed
  modal-js/src/sandbox.ts
Due: js-format, js-lint, js-typecheck

Address PR comments
  modal-go/auth_token_manager.go
  modal-js/src/auth_token_manager.ts
Due: js-format, js-lint, js-typecheck, go-format, go-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Defer unlock
  modal-go/auth_token_manager.go
Due: go-format, go-lint

Refresh auth just-in-time instead of in the background (#287)
  CHANGELOG.md
  modal-go/auth_token_manager.go
  modal-go/client.go
  modal-go/internal/grpcmock/mock.go
  modal-go/test/auth_token_manager_test.go
  modal-go/test/sandbox_test.go
  modal-js/src/auth_token_manager.ts
  modal-js/src/client.ts
  modal-js/test/auth_token_manager.test.ts
  modal-js/test/legacy/auth_token_manager.test.ts
  modal-js/test/sandbox.test.ts
Due: js-format, js-lint, js-typecheck, go-format, go-lint

Run linter
  modal-js/src/sandbox.ts
Due: js-format, js-lint, js-typecheck

Update changelog
  CHANGELOG.md
Due: none

Fix error message when Sandbox already completed (#288)
  CHANGELOG.md
  modal-js/src/sandbox.ts
Due: js-format, js-lint, js-typecheck

[RELEASE] Prepare release for modal-js/v0.7.2, modal-go/v0.7.2
  CHANGELOG.md
  modal-js/package-lock.json
  modal-js/package.json
Due: js-format

Wait for exec before snapshot
  modal-js/test/sandbox_filesystem_snapshot.test.ts
Due: js-format, js-lint, js-typecheck

Run linter
  modal-js/test/sandbox_filesystem_snapshot.test.ts
Due: js-format, js-lint, js-typecheck

Update version
  modal-js/package.json
Due: js-format

Wait for exec before snapshot (#290)
  modal-js/test/sandbox_filesystem_snapshot.test.ts
Due: js-format, js-lint, js-typecheck

Check github pages
  .github/workflows/docs.yaml
Due: none

Deploy docs
  .github/workflows/docs.yaml
Due: none

Deprecate repo in favor of modal-labs/modal-client
  README.md
  modal-go/app.go
  modal-go/app_test.go
  modal-go/auth_token_manager.go
  modal-go/client.go
  modal-go/client_test.go
  modal-go/cloud_bucket_mount.go
  modal-go/cloud_bucket_mount_test.go
  modal-go/cls.go
  modal-go/cls_test.go
  modal-go/config.go
  modal-go/config_test.go
  modal-go/doc.go
  modal-go/ephemeral.go
  modal-go/errors.go
  modal-go/function.go
  modal-go/function_call.go
  modal-go/go.mod
  modal-go/go.sum
  modal-go/image.go
  modal-go/invocation.go
  modal-go/logger.go
  modal-go/logger_test.go
  modal-go/proxy.go
  modal-go/queue.go
  modal-go/retries.go
  modal-go/sandbox.go
  modal-go/sandbox_filesystem.go
  modal-go/sandbox_test.go
  modal-go/secret.go
  modal-go/secret_test.go
  modal-go/serialization_test.go
  modal-go/task_command_router_client.go
  modal-go/task_command_router_client_test.go
  modal-go/volume.go
Due: go-format, go-lint

Revert
  modal-go/go.sum
Due: none

Revert
  modal-js/package.json
Due: js-format

Update readme
  README.md
Due: none

Update go header
  modal-go/app.go
  modal-go/app_test.go
  modal-go/auth_token_manager.go
  modal-go/client.go
  modal-go/client_test.go
  modal-go/cloud_bucket_mount.go
  modal-go/cloud_bucket_mount_test.go
  modal-go/cls.go
  modal-go/cls_test.go
  modal-go/config.go
  modal-go/config_test.go
  modal-go/doc.go
  modal-go/ephemeral.go
  modal-go/errors.go
  modal-go/function.go
  modal-go/function_call.go
  modal-go/image.go
  modal-go/invocation.go
  modal-go/logger.go
  modal-go/logger_test.go
  modal-go/proxy.go
  modal-go/queue.go
  modal-go/retries.go
  modal-go/sandbox.go
  modal-go/sandbox_filesystem.go
  modal-go/sandbox_test.go
  modal-go/secret.go
  modal-go/secret_test.go
  modal-go/serialization_test.go
  modal-go/task_command_router_client.go
  modal-go/task_command_router_client_test.go
  modal-go/volume.go
Due: go-format, go-lint

modal-kt foundation and sandbox builders
  modal-kt/.gitattributes
  modal-kt/.gitignore
  modal-kt/build.gradle.kts
  modal-kt/gradle.properties
  modal-kt/gradle/wrapper/gradle-wrapper.jar
  modal-kt/gradle/wrapper/gradle-wrapper.properties
  modal-kt/gradlew
  modal-kt/gradlew.bat
  modal-kt/settings.gradle.kts
  modal-kt/src/main/kotlin/com/modal/modalkt/AppService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/AuthTokenManager.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/CloudBucketMount.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ClsSerialization.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Config.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Errors.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Grpc.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Logger.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Sandbox.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/TaskCommandRouterClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Types.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Validation.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Version.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/AuthTokenManagerTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/CloudBucketMountTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ConfigTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/LoggerTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxBuildersTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SerializationTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/TaskCommandRouterClientTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ValidationTest.kt
Due: none

modal-kt resource services and mock client
  modal-kt/build.gradle.kts
  modal-kt/src/main/kotlin/com/modal/modalkt/AppService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Ephemeral.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ImageService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ProxyService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SecretService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Types.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/VolumeService.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ImageServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ProxyServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SecretServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/VolumeServiceTest.kt
Due: none

modal-kt functions and cls options
  modal-kt/src/main/kotlin/com/modal/modalkt/ClsService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/FunctionService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Retries.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ClsServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/FunctionServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
Due: none

modal-kt sandbox lifecycle layer
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxService.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxServiceTest.kt
Due: none

modal-kt queues and function calls
  modal-kt/build.gradle.kts
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/FunctionCallService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/FunctionService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Invocation.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Pickle.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/QueueService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Serialization.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/FunctionCallServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/QueueServiceTest.kt
Due: none

modal-kt sandbox exec and log streams
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Streams.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/TaskCommandRouterClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxExecTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxLogsTest.kt
Due: none

modal-kt sandbox filesystem and snapshots
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxFilesystem.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/TaskCommandRouterClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxFilesystemTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxSnapshotTest.kt
Due: none

modal-kt blob support and examples
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/ClsCallExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/ClsCallWithOptionsExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/CustomClientExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/FunctionCallExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/FunctionSpawnExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxConnectTokenExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxDirectorySnapshotExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxExecExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxFilesystemExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxFilesystemSnapshotExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxPollExample.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Blob.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/FunctionService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Invocation.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxService.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/BlobTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxExecTest.kt
Due: none

modal-kt expand example coverage
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/FunctionCurrentStatsExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/ImageBuildingExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxAgentExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxCloudBucketExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxGpuExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxNamedExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxPrewarmExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxPrivateImageExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxProxyExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxSecretsExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxTunnelsExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxVolumeEphemeralExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/SandboxVolumeExample.kt
  modal-kt/src/examples/kotlin/com/modal/modalkt/examples/TelemetryExample.kt
Due: none

modal-kt tighten function parity tests
  modal-kt/src/test/kotlin/com/modal/modalkt/FunctionServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/RetriesTest.kt
Due: none

modal-kt input plane and client runtime tests
  modal-kt/build.gradle.kts
  modal-kt/src/main/kotlin/com/modal/modalkt/ControlPlaneClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/FunctionService.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/Invocation.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/ModalClient.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/TaskCommandRouterClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/ClientRuntimeTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/FunctionServiceTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/MockControlPlaneClient.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/VersionTest.kt
Due: none

modal-kt merge sandbox env into secrets
  modal-kt/src/main/kotlin/com/modal/modalkt/Sandbox.kt
  modal-kt/src/main/kotlin/com/modal/modalkt/SandboxService.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxExecTest.kt
  modal-kt/src/test/kotlin/com/modal/modalkt/SandboxServiceTest.kt
Due: none

Path conditions:
  js-format: any of: ^modal-js/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$ and not (^modal-client/|\.pb\.go$)
  js-lint: any of: ^modal-js/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$ and not (^modal-client/|\.pb\.go$)
  js-typecheck: any of: ^modal-js/ and \.(ts|mts|cts)$, \.tsx$ and not (^modal-client/|\.pb\.go$)
  go-format: any of: ^modal-go/ and \.go$ and not (^modal-client/|\.pb\.go$)
  go-lint: any of: ^modal-go/ and \.go$ and not (^modal-client/|\.pb\.go$)
  python-lint: any of: ^(test-support|tools)/ and \.py$ and not (^modal-client/|\.pb\.go$)
  python-format: any of: ^(test-support|tools)/ and \.py$ and not (^modal-client/|\.pb\.go$)
